@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --font-Roboto: 'Roboto', sans-serif;
    --font-Open: 'Open Sans', sans-serif;
    --patent-color: #120748;
    --white-color: #ffffff;
}

.client-container {
    background-color: aqua;
    width: 100%;
    height: 100vh;
}

/* ------------main-section------------- */
.main-section {
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100%;
    padding-top: 83px;
}

.left-section {
    /* background-color: yellowgreen; */
    background-color: #fbfbfb;
    border-right: 1px solid rgb(194, 192, 192);
    /* box-shadow: 0px 0px 1px 1px rgb(207, 196, 196) ; */
    /* margin-top: 2px; */
    margin-right: 2px;
    flex-basis: 16%;
    padding: 2px;
}

.right-section {
    /* background-color: rgb(247, 149, 149); */
    flex-basis: 84%;
    padding: 35px 30px 60px;
}


@media only screen and (max-width:960px) {
    .left-section {
        flex-basis: 20%;
        padding: 15px 2px;
    }

    .right-section {
        flex-basis: 80%;
        padding: 20px 15px 30px;
    }
}
